# This file lists the dependencies for the AgenticAI project.
# Use pip to install the dependencies listed here.
numpy 
pandas
pydantic
python-dotenv
langchain
langchain-openai
langchain-community
langchain-groq
langchain-core
arxiv
pymupdf
wikipedia
pypdf
bs4
